requests
rich
prettytable
click
json_repair
pathvalidate
platformdirs
emoji
bleach
beautifulsoup4
parsel
tqdm
pycryptodomex
pycryptodome
cryptography
tldextract
fake_useragent
nodejs-wheel
pyfreeproxy
playwright
questionary